<html>
  <head>
    <title>security-app</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./style.css') }}">
  </head>

  <style type="text/css">
    body {
      font-family: helvetica;
    }

    #search {
      margin: auto;
    }

    #table_data, tr, td {
      border: 1px solid black;
      margin: auto;
    }

    #map {
      width: 50%;
      height: 50%;
      background: yellow;
      margin: auto;
    }
  </style>

  <body>
    <div class="expo">
      <h1>Purpose</h1> 
      <p> This is a simple security app made to explore locations of blocked IPs
          associated with ransomware by sourcing a text file from 
          <a href='https://ransomwaretracker.abuse.ch/.com'>Ransomware Tracker</a>.
          This includes a Google Map visualization of IPs on the blocklist as 
          well was a table presenting the locations.
      </p>
      <p> Source code can be found on my
          <a href='https://github.com/eyluo'>GitHub</a>.
      </p>
    </div>

    <div id="map"></div>

  <div id='table_whole'>
    <script type='text/javascript'>
      function search_table() {
        var input, filter, table, tr, td, i;

        input = document.getElementById("search");
        filter = input.value.toUpperCase();
        table = document.getElementById("table_data");
        tr = table.getElementsByTagName("tr");

        console.log("Testing");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          } 
        }
      } 
    </script>
    <input type="text" id="search" onkeyup="search_table()" placeholder="Search for names..">

    <script>
      var obj = {{location_dict|tojson}};
      var table_data = "<table id='table_data'><tbody>";

      table_data += '<col width="120"><col width="180"><col width="120">';

      for (var i = 0; i < Object.keys(obj).length; i++) {
        var ip = Object.keys(obj)[i];
        table_data += '<tr>';
        table_data += '<td>' + obj[ip].continent + '</td>';
        table_data += '<td>' + obj[ip].country + '</td>';
        table_data += '<td>' + obj[ip].coordinates + '</td>';
        table_data += '</tr>';
      }

      table_data += '</tbody><table>';

      document.write(table_data);
    </script>
  </div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: new google.maps.LatLng(2.8,-187.3),
          mapTypeId: 'terrain'
        });

        var script = document.createElement('script');
        script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        document.getElementsByTagName('head')[0].appendChild(script);
      }

      // This function was modified by passing in the coordinate list
      window.eqfeed_callback = function(results) {
        for (var i = 0; i < {{coord_list|tojson}}.length; i++) {
          var coords = {{coord_list|tojson}}[i];
          var latLng = new google.maps.LatLng(coords[0],coords[1]);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map
          });
        }
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBug__rHg6yiJh4N5GbsBNXFEHg8HI9IZo&callback=initMap">
    </script>

  </body>
</html>